* { position: relative; z-index: 0; }
html { width: 100%; }
body { margin: 0; padding: 24px 0 160px 0; width: 100%; }
#mushaf_div { margin: auto; }
.playdiv { background: beige; width: 800px; }
.play_control { float: right; }
a { text-decoration: none; color: teal; }
a:visited { color: teal; text-decoration: none; }
